#nav1{
    height: 120px;
    width: 1350px;
    margin: auto;
}
#user_admin{

}
#list{
    width: 1200px;
    margin: auto;
    overflow-y: scroll;

}
#basurero{
    float: right;
}
#caracteristicas{
    float: right;
    background-color: white;
}
#buttons{
    float: right;
}
#add_user1{
    float: right;
}
#circle1{
    color: #488DDE;
}
#circle2{
    color: #90F389;
}
